@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #F3F1FF;
   
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 870px;
    height: 679px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
    
}

.player-heading{
    color: #562EFF;
    margin-bottom: 40px;
    font-size: 24px;
    
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    
}

.player{
    display: flex;
    align-items: center;
    
}

.player img{
    width: 56px;
    height: 56px;
}

.player .player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 30px 0px;
}

.blog{

    display: flex;
}
.blog .blog-info{
    margin-left: 16px;
    padding-right:20px ;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog .blog-author{
    color: #9F9F9F;
}

.blog .blog-author a{
    text-decoration: none;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course-details .course-title{
    font-size: 20px;
}
.course-section{
    height: 362px;
    margin-top: 21px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duration{
    padding: 3px 5px;
    background-color:#ff4a5f1e ;
    color: #FF4A60;
    border-radius: 50px;
}

@media only screen and (max-width:688px) {

    .container{
        width: 100%;
    }
        .player, .blog{
            flex-direction: column;
        }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    
}

@media only screen and (min-width:689px) and (max-width:992px){
    
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2,1fr);
    }
}